<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/path/to/styles.css">
    <!-- Asegúrate de tener tu archivo CSS en esta ruta o ajústala según necesites -->
</head>

<body>
    <header>
        <h1>{{ page.title }}</h1> <!-- Esto muestra el título de cada página o post -->
    </header>

    <main>
        {{ content }} <!-- Aquí se insertará el contenido específico de cada página -->
    </main>

    <footer>
        <p>&copy; 2024 GonzaloMB. Todos los derechos reservados.</p>
    </footer>
</body>

</html>